// Declare app level module which depends on views, and components
angular.module('appConfig', [])
  .constant("settings", {
    "apiAddr": "%API_ADDR%",
    "apiPort": "%API_PORT%",
    "apiBaseURL": "http://%API_ADDR%:%API_PORT%/",
    "couchdbAddr": "%FEEDERDB_ADDR%",
    "couchdbPort": "%FEEDERDB_PORT%",
    "couchdbBaseURL": "http://%FEEDERDB_ADDR%:%FEEDERDB_PORT%/"
});
